{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div>
      {% for message in messages %}
        <p class="alert alert-primary">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
