<nav class="border container container-lg split-nav margin-top">
  <div class="nav-brand">
    <h3><a href="/">Be Travel</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <label for="collapsible1">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
        {% if current_user.is_authenticated %}
          <li>Olá, {{ current_user.name }}</li>
          <li><a href="/new-post.html">Nova postagem</a></li>
          <li><a href="{{ url_for('categories.new') }}">Nova categoria</a></li>
          <li><a href="/">Sair</a></li>
        {% else %}
          <li><a href="{{ url_for('signin.new') }}">Entrar</a></li>
          <li><a href="{{ url_for('signup.new') }}">Cadastrar</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>