{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="margin-large">
      <div class="container text-center">
        {% for message in messages %}
          <p class="alert alert-primary">{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endwith %}
