{% extends 'shared/layout.jinja' %}

{% block content %}
  <section class="section margin-top-large">
    <div class="container container-lg">
      <h1>Viagens</h1>
      {% if posts %}
        {% for post in posts %}
          <div class="row">
            <div class="col-fill col">
              <a href="{{ url_for('posts.show', id=post.id) }}" class="text-primary">
                {% if post.image_name %} 
                  <img src="{{ url_for('images.storage', name=post.image_name) }}" />
                {% endif %}
                <h4 class="text-center">{{ post.title }}</h4>
              </a>
            </div>
          </div>
        {% endfor %} 
      {% else %}
      <p>Sem posts cadastrado no momento</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
