{% extends 'shared/layout.jinja' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<section class="section margin-top-large">
  <div class="container container-lg">
    <a href="post.html" class="text-primary">
      {% if post.image_name %} 
        <img src="{{ url_for('images.storage', name=post.image_name) }}" />
      {% endif %}
      <h4 class="text-left">
        {{ post.title }}
      </h4>
      <p>{{ post.text }}</p>
    </a>
  </div>
</section>
{% endblock %}
